*,
*:before,
*:after{
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #7a7a7a;
}

.backgroundGif {
  background: url("family.gif")no-repeat center;
  height: 600px;

}

.calenderHeader{
  text-align: center;
  padding: 20px;
  padding-bottom: 20px;
}
.header-wrapper {
  box-sizing: border-box;
  color: rgb(227, 227, 227);
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  font-weight: 400;
  left: 0px;
  line-height: 24px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  position: fixed;
  right: 0px;
  text-align: left;
  top: 0px;
  z-index: 1030;
}

.header-nav {
  align-items: center;
  background-color: rgb(52, 58, 64);
  box-sizing: border-box;
  color: rgb(227, 227, 227);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  font-weight: 400;
  justify-content: flex-start;
  left: 0px;
  line-height: 24px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  position: fixed;
  right: 0px;
  text-align: left;
  top: 0px;
  z-index: 1030;
}

.nav-homeLink {
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 16px;
  margin-top: 0px;
  padding-bottom: 5px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 5px;
  text-align: left;
  text-decoration: none;
  text-decoration-color: rgb(255, 255, 255);
  text-decoration-line: none;
  text-decoration-style: solid;
  white-space: nowrap;
}

.nav-link-wrapper {
  align-items: center;
  box-sizing: border-box;
  color: rgb(227, 227, 227);
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: left;
}

.nav-links {
  box-sizing: border-box;
  color: rgb(227, 227, 227);
  display: flex;
  flex-direction: row;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 347.5px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: left;
}

.header-link {
  margin-right: 10px;
  color: #9ad3de;
}

.header-buttons-wrapper {
  align-items: center;
  box-sizing: border-box;
  color: rgb(227, 227, 227);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  text-align: left;
}



.headerButton {
  border: 2px solid #e3e3e3;
  border-radius: 10px;
  background-color: inherit;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}



.btn1 {
  color: black;
  border: 2px solid #4CAF50;
}
.mid h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 75%;
  left: 50%;
  font-size: 2rem;
  transform: translate(-50%, -50%);
  background-color: #877f65;
  padding: 20px;
  position: absolute;
  z-index: 1;

}
.mid h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: white;
  margin: 0;
  position: absolute;
  top: 80%;
  left: 50%;
  font-size: 1rem;
  transform: translate(-50%, -50%);
  background-color: #877f65;
  padding-left: 51px;
  padding-right: 51px;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-top: 20px;
  position: absolute;
  z-index: 1;
}


.botpage{
	
	background-color: white;

}


.img-fluid{
	max-width: 100%;
	height: auto;
}
.marketing .col-lg-4 {
	margin-top: 100px;
  margin-bottom: 300px;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

footer{
	padding-bottom: 50px;
}

button:disabled {
  opacity: 0.5;
}

.login-form {
  display: inline-flex;
  align-items: flex-end;
}

.register-form {
  display: block;
  width: 53%;
}

input[type=text] {
  width: 100%;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=password] {
  width: 100%;
  margin: 8px 0;
  box-sizing: border-box;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: #ebebeb;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.footer {
  height: 200px;
}
.btn-outline-success{
  margin-left: 10px;
}
.module{
  text-align: center;
}
.modal-main{
  /*padding: 50px;*/
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
  z-index: 2;
}

.login {
  background: #777f3b;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 0px;
}
.login-container {
  background: #ebebeb;
  padding: 12px;
}

.modal-main input {
  box-sizing: border-box;
  display: block;
  width: 185%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
  /*padding: 12px;*/
}
.modal-main input[type="text"],
.modal-main input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}
.modal-main input[type="text"]:focus,
.modal-main input[type="password"]:focus {
  border-color: #888;
}

.modal-main input[type="submit"] {
  background: #777f3b;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.modal-main input[type="submit"]:hover {
  background: #51562a;
}

.modal-main input[type="submit"]:focus {
  border-color: #05a;
}

.check {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 5px;
  left: 0px;
  height: 25px;
  width: 25px;
  background-color: #8a9388;
}

.check:hover input ~ .checkmark {
  background-color: #5d665b;
}

.check input:checked ~ .checkmark {
  background-color: #777f3b;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.register-form{
	padding-left: 10px;
	background-color: #ebebeb;
	margin-bottom: 10px;
}
.makeUser{
	text-align: center;
	background-color: #777f3b;

}
.headerWords1{
	font-size: 30px;
	padding-top: 15px;
	color: #ffffff;
	font-weight: 400;
}
.headerWords2{
	font-size: 30px;
	padding-bottom: 15px;
	color: #ffffff;
	font-weight: 400;
}
@media (max-width: 555px) {
  h3 {
    font-style: 50px;

  }
  h2{
    height: 170px;
    top: 35%;
  }
}
@media (max-width: 620px) {
/*for calender buttons to be smaller*/

}
